<html>
  <head>
    <script type='text/javascript' src='scripts/modernizr.js'></script>
    <script type='text/javascript' src='scripts/jquery-1.6.2.min.js'></script>
    <script type='text/javascript' src='scripts/underscore-min.js'></script>
    <script type='text/javascript' src='scripts/json2.js'></script>
    <script type='text/javascript' src='scripts/backbone.js'></script>
    <script type='text/javascript' src='scripts/backbone.modelbinding.min.js'></script>
    <script type='text/javascript' src='scripts/backbone-example.js'></script>

    <script type='text/template' id='details-template'>
      <tr>
        <th>Type</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Amount</th>
      </tr>
    </script>

    <script type='text/template' id='row-template'>
      <td>
        <select></select>
      </td>
      <td><input type='text' property='quantity' value='<%= quantity %>' /></td>
      <td><input type='text' property='price' value='<%= price %>' /></td>
      <td><input type='text' property='amount' value='<%= amount %>' /></td>
    </script>
  </head>
  <body>
  </body>
</html>
